*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	font-family: "Outfit", "Rubik", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	scroll-behavior: smooth;
}

h1, h2, h3, h4  {
    font-family: "Rubik", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.font-pacific {
    font-family: "Pacifico", cursive;
    color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

:root {
	--bg-color: #fff;
	--text-color: #000;
    --secondary-text-color: #403d39;
	--secondary-color: #d17723;
	--bg-secondary: #fffdf4;
	--border-color: #f8a65a;

	--container-width: 90%;
}

body {
	background-color: var(--bg-color);
	margin: 0;
}

.container {
	width: var(--container-width);
	margin: 0 auto;
}

h1 {
    font-size: 28px;
}

p {
    color: var(--secondary-text-color);
}

/* navbar-hamburguer-menu */

.navbar {
    position: relative;
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.website-logo {
	width: 4rem;
}

.hamburguer-icon {
	width: 2rem;
	background-color: var(--secondary-color);
	color: var(--bg-color);
	border-radius: 6px;
	padding: 4px;
}

.menu-hamburguer-container ul {
	display: none;
}

.menu-hamburguer-container input:checked ~ ul {
	display: block;
    background-color: var(--secondary-color);
    line-height: 2;
    position: absolute;
    right: 0;
    height: calc(100vh - 56px);
    width: 200px;
    z-index: 100;
}    

.menu-hamburguer-container input {
	display: none;
}

/* navbar desktop */
.menu-desktop {
	display: none;
}

.currencies-leng {
	display: none;
}

/* header */
/* p {
    font-family: out;
} */
.header-section {
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.main-header {
	display: flex;
	flex-direction: column;
    text-align: center;
	gap: 40px;
}

.hero-vector {
	display: none;
}

.card-david {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 16px;
	width: 320px;
	background-color: var(--bg-secondary);
	border: 1px solid var(--border-color);
	border-radius: 12px;
	position: relative;
	align-self: center;
	margin-top: -100px;
}

.card-david-img {
	display: flex;
	align-items: center;
	gap: 16px;
}

.david-img {
	width: 60px;
	height: 60px;
	border-radius: 100%;
}

.card-david-text {
	display: flex;
	flex-direction: column;
}

.card-david-text :nth-child(1) {
	font-size: larger;
	font-weight: 400;
}

.card-david-text :nth-child(2) {
	width: 40px;
}

.header-main-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 20px;
}

.ancor-icon-video {
	display: flex;
	align-items: center;
	gap: 12px;
}

.buttons-header {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.orange-button {
	background-color: var(--secondary-color);
	color: var(--bg-color);
	padding: 8px 16px;
	border-radius: 4px;
	border: none;
}

.white-button {
	background-color: var(--bg-color);
	color: var(--secondary-color);
	border: 1px solid var(--secondary-color);
	border-radius: 4px;
	padding: 8px 16px;
}

.header-statics {
	background-color: var(--bg-secondary);
	border: 1px solid var(--border-color);
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.statics-header-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
}

.statics-header-card p {
	text-align: center;
}

.divider {
    display: none;
}

/*main*/
/*section1*/
.explore-and-learn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 100px;
    margin-bottom: 60px;
}

.explore-and-learn-title p {
    display: none;
}

.explore-and-learn-title a {
    display: none;
}

.explore-and-learn-title img {
    width: 32px;
}

.explore-and-learn-main-title {
    display: flex;
    align-items: center;
    gap: 16px;
}

.explore-and-learn-article {
    display: grid;
    grid-template: 
    "img-one title icon" 0.5fr 
    "img-one text text" 1fr / 1fr 2fr 1fr;
    column-gap: 8px;
    padding: 16px;
    border-radius: 8px;
}

.explore-and-learn-title-img-one {
    grid-area: img-one;
    justify-self: center;
    align-self: center;
}

.explore-and-learn-article h4 {
    grid-area: title;
}

.explore-and-learn-icon {
    grid-area: icon;
    justify-self: flex-end;
}

.explore-and-learn-article p {
    grid-area: text;
}

.explore-and-learn-color-one {
    background-color:var(--secondary-color);
    color: var(--bg-color);
}

.explore-and-learn-color-one p {
    color: var(--bg-color);
}

.explore-and-learn-border {
    border: 1px solid var(--border-color);
}

.explore-and-learn-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 16px;
}

.explore-and-learn a[href="#showmore"] {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

/*section 2*/
.unique-benefits {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 32px;
    margin-top: 100px;
    margin-bottom: 60px;
}

.unique-benefits-title {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.unique-benefits-title p {
    display: none;
}

.unique-benefits-quotes {
    display: flex;
    justify-content: center;
}

.unique-benefits-quotes img {
    transform: translateY(-18px);
}

.unique-benefits-articles {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.unique-benefits-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 20px;
}

/*section3*/
.other-benefits-section {
    position: relative;
}

.other-benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-top: 100px;
    margin-bottom: 60px;
}

.other-benefits picture {
    text-align: center;
}

.level-up {
    width: 250px;
    background-color: var(--secondary-color);
    color: var(--bg-color);
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 16px;
    padding: 20px;
    border-radius: 8px;
    margin-top: -80px;
    position: relative;
} 

.level-up-title {
    display: flex;
    justify-content: right;
    gap: 4px;
}

.level-up p {
    color: var(--bg-color);
}

.other-benefits-main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 20px;
}

.other-benefits-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.other-benefits-article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: 8px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 16px;
}

.other-benefits-article-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/*section4*/
.works {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-top: 100px;
    margin-bottom: 60px;
}

.works img[alt="Orange vector"] {
    width: 36px;
}

.works-main-articles {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.works-article {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.works-article-img {
    display: flex;
    flex-direction: column;
}

.works-numbers {
    display: none;
}

.works-picture {
    display: block;
    align-self: center;
}

.works-article-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.works-article-text button {
    align-self: center;
}

.works-select-negative-margin {
    margin-top: -60px;
}

.works-card-money {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: 16px;
    width: 300px;
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin-top: 80px;
}

.works-card-money-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: -92px;
}

.works-card-money-imgs img[alt="Icon big vector"] {
    width: 42px;
    margin-left:72px;
    margin-bottom: -20px;
}

.works-card-money-imgs img[alt="Icon small vector"] {
    width: 32px;
    margin-left:96px;
    margin-bottom: -18px;
}

/*section5*/
.become-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 100px;
    margin-bottom: 60px;
}

.become-article {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.become-articles {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.become-sub-article {
    display: flex;
    align-items: center;
    gap: 4px;
}

.become-sub-article img {
    align-self: flex-start;
    width: 16px;
}

.become-article a {
    display: flex;
    align-items: center;
    gap: 16px;
}

/*section6*/
.become-a-student {
    background-color: var(--secondary-color);
    color: var(--bg-color);
    margin-top: 100px;
    margin-bottom: 60px;
}

.become-a-student p {
    color: var(--bg-color);
}

.become-a-student button {
    border: 1px solid var(--bg-color);
    margin-bottom: 20px;
}

.become-a-student-main {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.picture-box-img {
    background-image: url(/media/images/become-a-student-img-1800.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 408px;
}

/*section7*/
.cook-and-popular {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 100px;
    margin-bottom: 60px;
}

.cook-popular-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cook-popular-title {
    display: flex;
    align-items: center;
    gap: 16px;
}

.cook-popular-title img {
    width: 28px;
}

.cook-section-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.cook-section-grid-article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

.cook-section-grid-article picture {
    display: flex;
    align-self: center;
}

.cook-section-grid-article img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.cook-grid-article-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
}

.cook-section-grid-article-calendar {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cook-section-grid-article-calendar img {
    width: 20px;
}

.mobile-none {
    display: none;
}

.popular-by-category-and-country {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ancors-by-category {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 70%;
}

.ancor-by {
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-color);
    color: var(--secondary-color);
    border-radius: 30px;
    padding: 8px 16px;
}

.ancors-by-country {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 70%;
}

/*footer*/
.footer {
    margin-top: 100px;
    background-color: var(--secondary-color);
    padding-top: 100px;
    padding-bottom: 60px;
}

.footer-logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32px;
    padding-bottom: 30px;
}

.footer-lists {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-lists ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer p {
    color: var(--bg-color);
}

.footer a {
    color: var(--border-color);
}

.footer li {
    color: var(--border-color);
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-copyright-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 60px;
    padding-top: 30px;
}

.footer-usa {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-usa p {
    color: var(--border-color);
}

.footer-usa-box{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-icons-media  {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icons-media {
    display: flex;
    gap: 8px;
    align-self: center;
    font-size: x-large;
}