*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	font-family: "Outfit", "Rubik", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	scroll-behavior: smooth;
}

h1, h2, h3, h4  {
    font-family: "Rubik", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.font-pacific {
    font-family: "Pacifico", cursive;
    color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

:root {
	--bg-color: #fff;
	--text-color: #000;
    --secondary-text-color: #403d39;
	--secondary-color: #d17723;
	--bg-secondary: #fffdf4;
	--border-color: #f8a65a;

	--container-width: 90%;
}

body {
	background-color: var(--bg-color);
	margin: 0;
}

.container {
	width: var(--container-width);
	margin: 0 auto;
}

h1 {
    font-size: 28px;
}

p {
    color: var(--secondary-text-color);
}

/* navbar-hamburguer-menu */

.navbar {
    position: relative;
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.website-logo {
	width: 4rem;
}

.hamburguer-icon {
	width: 2rem;
	background-color: var(--secondary-color);
	color: var(--bg-color);
	border-radius: 6px;
	padding: 4px;
}

.menu-hamburguer-container ul {
	display: none;
}

.menu-hamburguer-container input:checked ~ ul {
	display: block;
    background-color: var(--secondary-color);
    line-height: 2;
    position: absolute;
    right: 0;
    height: calc(100vh - 56px);
    width: 200px;
    z-index: 100;
}    

.menu-hamburguer-container input {
	display: none;
}

/* navbar desktop */
.menu-desktop {
	display: none;
}

.currencies-leng {
	display: none;
}

/* header */
/* p {
    font-family: out;
} */
.header-section {
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.main-header {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.hero-vector {
	display: none;
}

.card-david {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 16px;
	width: 320px;
	background-color: var(--bg-secondary);
	border: 1px solid var(--border-color);
	border-radius: 12px;
	position: relative;
	align-self: center;
	margin-top: -100px;
}

.card-david-img {
	display: flex;
	align-items: center;
	gap: 16px;
}

.david-img {
	width: 60px;
	height: 60px;
	border-radius: 100%;
}

.card-david-text {
	display: flex;
	flex-direction: column;
}

.card-david-text :nth-child(1) {
	font-size: larger;
	font-weight: 400;
}

.card-david-text :nth-child(2) {
	width: 40px;
}

.header-main-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 20px;
}

.ancor-icon-video {
	display: flex;
	align-items: center;
	gap: 12px;
}

.buttons-header {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.orange-button {
	background-color: var(--secondary-color);
	color: var(--bg-color);
	padding: 8px 16px;
	border-radius: 4px;
	border: none;
}

.white-button {
	background-color: var(--bg-color);
	color: var(--secondary-color);
	border: 1px solid var(--secondary-color);
	border-radius: 4px;
	padding: 8px 16px;
}

.header-statics {
	background-color: var(--bg-secondary);
	border: 1px solid var(--border-color);
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.statics-header-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
}

.statics-header-card p {
	text-align: center;
}

.divider {
    display: none;
}

/*main*/
/*section1*/
.explore-and-learn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.explore-and-learn-title p {
    display: none;
}

.explore-and-learn-title a {
    display: none;
}

.explore-and-learn-title img {
    width: 32px;
}

.explore-and-learn-main-title {
    display: flex;
    align-items: center;
    gap: 16px;
}

.explore-and-learn-article {
    display: grid;
    grid-template: 
    "img-one title icon" 0.5fr 
    "img-one text text" 1fr / 1fr 2fr 1fr;
    column-gap: 8px;
    padding: 16px;
    border-radius: 8px;
}

.explore-and-learn-title-img-one {
    grid-area: img-one;
    justify-self: center;
    align-self: center;
}

.explore-and-learn-article h4 {
    grid-area: title;
}

.explore-and-learn-icon {
    grid-area: icon;
    justify-self: flex-end;
}

.explore-and-learn-article p {
    grid-area: text;
}

.explore-and-learn-color-one {
    background-color:var(--secondary-color);
    color: var(--bg-color);
}

.explore-and-learn-color-one p {
    color: var(--bg-color);
}

.explore-and-learn-border {
    border: 1px solid var(--border-color);
}

.explore-and-learn-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 16px;
}

.explore-and-learn a[href="#showmore"] {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

/*section 2*/
.unique-benefits {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 32px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.unique-benefits-title {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.unique-benefits-title p {
    display: none;
}

.unique-benefits-quotes {
    display: flex;
    justify-content: center;
}

.unique-benefits-quotes img {
    transform: translateY(-18px);
}

.unique-benefits-articles {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.unique-benefits-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 20px;
}

/*section3*/
.other-benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.level-up {
    width: 300px;
    background-color: var(--secondary-color);
    color: var(--bg-color);
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 16px;
    padding: 16px;
    border-radius: 8px;
    transform: translateY(-100px);
} 

.level-up-title {
    display: flex;
    justify-content: right;
    gap: 4px;
}

.level-up p {
    color: var(--bg-color);
}

.other-benefits-main {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.other-benefits-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.other-benefits-article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: 8px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 16px;
}

.other-benefits-article-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}