@media (min-width: 600px) {
	:root {
		--container-width: 90%;
	}

	h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 24px;
	}

	h4 {
		font-size: 18px;
	}

	.menu-hamburguer-container {
		display: none;
	}

	.currencies-leng {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	.currencies-div {
		display: flex;
		align-items: center;
		gap: 4px;
	}

	.currencies-leng :nth-child(3) {
		border-left: 1px solid var(--border-color);
		border-right: 1px solid var(--border-color);
		padding: 0 12px;
	}

	.nav-button {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	.header-section {
		padding-top: 40px;
	}

	.special-container {
		width: 90%;
		margin: 0 auto;
	}

	.header-picture {
		display: flex;
		align-self: center;
		width: 90%;
	}

	.special-picture img {
		width: 80%;
		border-radius: 20px;
	}

	.card-david {
		width: 260px;
		align-self: flex-start;
		margin-top: -172px;
	}

	.hero-vector {
		display: flex;
		align-self: end;
		position: relative;
		margin-top: -113px;
	}

	.buttons-header {
		flex-direction: row;
		justify-content: center;
	}

	.header-statics {
		flex-direction: row;
		justify-content: center;
		position: relative;
	}

	.divider {
		display: inline;
		width: 100vw;
		height: 1px;
		background-color: var(--border-color);
		position: absolute;
		z-index: -1;
		/* top: 50%;
		left: 50%;
		transform: translate(-50%, -50%); */
	}

	/*main section 1*/
	.explore-and-learn-title p {
		display: block;
	}

	.explore-and-learn-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.explore-and-learn-title img {
		align-self: flex-start;
	}

	.explore-and-learn-title-text {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.explore-and-learn-grid {
		grid-template:
			"bakery vegan" 1fr
			"seafood bbq" 1fr
			"wine cake" 1fr / 1fr 1fr;
	}

	.bakery {
		grid-area: bakery;
	}

	.vegan {
		grid-area: vegan;
	}

	.seafood {
		grid-area: seafood;
	}

	.bbq {
		grid-area: bbq;
	}

	.wine {
		grid-area: wine;
	}

	.cake {
		grid-area: cake;
	}

	/*section 2*/
	.unique-benefits-articles {
		max-width: 70%;
	}

	.unique-benefits-title p {
		display: block;
	}

	/*section3*/
	.level-up {
		align-self: flex-start;
		margin-top: -112px;
	}

	/*section4*/
	.works-numbers {
		display: block;
		align-self: flex-start;
		width: 100px;
		position: absolute;
	}

	.works-picture {
		width: 80%;
		margin-top: 32px;
	}

	.works-article-text button {
		align-self: flex-start;
	}

	.works-card-money {
		width: 70%;
	}

	/*secction5*/
	.become-section {
		margin-top: 100px;
		margin-bottom: 60px;
	}

	.become-section picture {
		display: flex;
		justify-content: center;
	}

	.become-article button {
		align-self: flex-start;
	}

	/*section6*/
    .become-a-student-main {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 32px;
    }

    .picture-box {
        display: flex;
        width: 40%;
    }

    .picture-box img {
        width: 100%;
    }
    /* .become-a-student-main picture {
        width: 40%;
    } */

    .become-a-student-article {
        width: 60%;
        padding: 20px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    /*section7*/
    .mobile-none {
        display: flex;
    }

    .cook-section-grid {
        grid-template: 
        "master delectable" 1fr
        "how tips" 1fr / 1fr 1fr;
    }

    .master {
        grid-area: master;
    }

    .delectable {
        grid-area: delectable;
    }

    .how {
        grid-area: how;
    }

    .tips {
        grid-area: tips;
    }
}

/* Media query para dispositivos de escritorio (mayores a 1024px y hasta 1439px) */
@media (min-width: 1024px) {
	:root {
		--container-width: 90%;
	}

	h1 {
		font-size: 42px;
	}

	h2 {
		font-size: 32px;
	}

	h3 {
		font-size: 28px;
	}

	h4 {
		font-size: 20px;
	}

	.navbar {
		padding-bottom: 20px;
		border-bottom: 1px solid var(--border-color);
	}

	.nav-logo-and-desktop {
		display: flex;
		align-items: center;
		gap: 24px;
	}

	.menu-desktop {
		display: flex;
		align-items: center;
		gap: 12px;
		border-left: 1px dotted var(--border-color);
		padding-left: 24px;
	}

	.menu-desktop a {
		display: flex;
		align-items: center;
		gap: 4px;
	}

	.header-section {
		gap: 120px;
	}

	.special-container {
		width: 90%;
		margin: 0 auto;
	}

	.main-header {
		flex-direction: row;
		align-items: center;
		gap: 0;
	}

	.hero-vector {
		display: none;
	}

	.card-david {
		display: none;
	}

	.header-main-text {
		order: 0;
		flex: 1;
		text-align: left;
		align-items: flex-start;
	}

	.buttons-header {
		justify-content: flex-start;
	}

	.special-picture {
		order: 1;
		flex: 1;
		display: flex;
		justify-content: center;
	}

	.special-picture img {
		width: 90%;
	}

	.header-statics {
		width: 70%;
	}

	.explore-and-learn-title a {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	img[alt="magnnifying glass"] {
		width: 20px;
	}

	.unique-benefits-articles {
		max-width: 100%;
		flex-direction: row;
		padding-top: 40px;
		gap: 32px;
	}

	.other-benefits {
		flex-direction: row;
		gap: 0;
	}

	.other-benefits picture {
		flex: 1;
	}

	.other-benefits-main {
		flex: 1;
		order: 2;
	}

	.other-benefits-article {
		flex-direction: row;
	}

	.other-benefits picture {
		width: 100%;
	}

	.level-up {
		position: absolute;
	}

	.works-article {
		flex-direction: row;
		align-items: center;
	}

	.works-select-img {
		order: 1;
	}

	.works-article-text-select {
		order: 0;
	}

	.works-select-negative-margin {
		margin-top: 0;
	}

	.works-article-select {
		margin-bottom: -52px;
	}

	.become-section {
		flex-direction: row;
		align-items: center;
		margin-top: 100px;
		margin-bottom: 60px;
	}

	.become-section picture {
		flex: 1;
	}

	.become-article {
		flex: 1;
	}

    .cook-and-popular {
        flex-direction: row;
    }

    .cook-popular-section {
        flex: 1;
    }

    /* .cook-and-popular :nth-child(1) {
        order: 1;
    }

    .cook-and-popular :nth-child(2) {
        order: 0;
    } */

    .popular-section {
        order: 0;
    }

    .cook-section {
        order: 1;
    }

    .popular-by-category-and-country {
        padding-left: 40px;
    }

    .ancors-by-category, .ancors-by-country {
        padding-left: 10px;
    }

    .ancors-by-category {
        width: 100%;
    }
}

/* Media query para dispositivos de escritorio XXL (mayores a 1440px) */
@media (min-width: 1440px) {
	:root {
		--container-width: 85%;
	}
}
